#wrapper {
    width: 100vw;
}

.side-bar {
    margin-top: 1rem; 
}

.rating {
    margin-top: 1rem;
}

.selected-card {
    box-shadow: 0px 0px 10px 0px #ccc;
    margin: 0.25rem;
}

.card {
    border: none;
}

.form {
    margin-bottom: .5rem; 
}